{% extends "ph_app/base.html" %}
{% load static %}

{% block contenido %}
<div class="flex h-screen bg-gray-200 items-center justify-center">
  <div class="grid bg-white rounded-lg shadow-xl mt-24 w-11/12 md:w-9/12 lg:w-1/2">
    <div class="flex justify-center mt-10">
      <div class="flex">
        <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Nueva Playlist </h1>
      </div>
    </div>

  <form method="post">
    {% csrf_token %}
    <div class="form-group grid grid-cols-1 mt-5 mx-7">
      <input type="text" class="form-control py-2 px-3 border-b-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="nombre" name="nombre" placeholder="Nombre de Playlist*" required/>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <select class="form-control py-2 px-3 bg-white border-b-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="plataforma" name="plataforma" required>
        <option>Plataforma*</option>
        <option>Deezer</option>
        <option>Spotify</option>
        <option>Tidal</option>
      </select>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <input class="form-control py-2 px-3 border-b-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" id="link" name="link" placeholder="Link de Playlist*" required/>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <select class="form-control py-2 px-3 bg-white border-b-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="mood" name="mood" required>
        <option>Mood*</option>
        <option>Blue</option>
        <option>Chill</option>
        <option>Happy</option>
        <option>Romantic</option>
      </select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
      <div class="grid grid-cols-1">
        <input class="form-control py-2 px-3 border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" id="tag1" name="tag1" placeholder="Etiqueta Principal" />
      </div>
      <div class="grid grid-cols-1">
        <input class="form-control py-2 px-3 border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" id="tag2" name="tag2" placeholder="Etiqueta Secundaria" />
      </div>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="md:text-sm text-xs text-gray-500 text-light font-semibold">Describe tu playlist</label>
      <textarea class="form-control py-2 px-3 h-32 border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" id="descripcion" name="descripcion" placeholder="¿Qué te inspiró a hacerla? ¿En qué momento consideras es perfecta para escuchar? ¡Cuéntanos todos los detalles!" /></textarea>
    </div>

    <!-- <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="md:text-sm text-xs text-gray-500 text-light font-semibold mb-4">Sube fotos o imágenes que complementen la experiencia de tu playlist</label>
        <div class='flex items-center justify-center w-full'>
            <label class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-purple-300 group'>
                <div class='flex flex-col items-center justify-center pt-7'>
                  <svg class="w-10 h-10 text-purple-400 group-hover:text-purple-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                  <p class='lowercase text-sm text-gray-400 group-hover:text-purple-600 pt-1 tracking-wider'>Seleccionar imagen</p>
                </div>
              <input type='file' class="hidden" />
            </label>
        </div>
    </div> -->

    <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
      <a href="/" class='w-auto bg-red-400 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>Cancelar</a>
      <button type="submit" class='w-auto bg-purple-500 hover:bg-purple-700 rounded-lg shadow-xl font-medium text-white px-4 py-2' href="/">Publicar</button>
    </div>
  
  </form>

  </div>
</div>
{% endblock %}